@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: black;
}
html {
    scroll-behavior: smooth;
  }

  
/*--- Navigation ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0 ,0, 0, 0.8)!important;
}
.navbar-brand {
    height: 4.6rem;
    color: white;
    font-size: 43px;
    /*font-family: 'Inknut Antiqua', serif;*/
    font-family: 'Sonsie One', cursive;
}
.navbar-nav li {
    padding-right: .7rem;
}
/* nav links colors and faders */
.navbar-dark .navbar-nav .nav-link {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:hsl(220, 53%, 69%);
    /* color: #1ebba3; */
}


/*--- Landing Page ---*/

.home-inner {
    background-image: url(img/computers.png);
}
/* WELCOME TO MY SITE */
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom: 2.3rem;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
.btn-lg {
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
.propic {
    border-radius: 50%;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
    margin: auto;
    border: 4px inset hsl(220, 36%, 50%);
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
